html,
body {
  font-family: Verdana, sans-serif;
  color: #666;
  text-align: left;
}

.container {
  margin: 2em 1.9em;
}

.title {
  font-size: 3.4em;
  color: #666;
  text-align: center;
}

.subtitle {
  margin: 0;
  padding: 0 0 1.3em 0;
  font-weight: bold;
  font-size: 1.7165em;
  color: #f07c17;
}

.featured-content {
  padding-top: 1.2em;
}

.info-box {
   margin: 2.15em 0 0 0;
   border: 1px solid #ccc;
   padding: 2.15em;
}

.article {
  padding-top: 1.2em;
}

p {
  line-height: 2.28;
  letter-spacing: 0.075em;
}

ul li {
  line-height: 2.28;
  letter-spacing: 0.075em;
}

.mockup-overlay {
   top: 0;
   position: absolute;
   z-index: -1;
   opacity: 0.4;
}
